@charset "UTF-8";
/*! dio.css v0.0.2 | MIT License | github.com/a233894432 */
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  /*font-size: $rem-base;*/
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

body {
  background-color: #f3f3f3;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Source Han Sans SC", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", Arial, Helvetica, STHeiti, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  -webkit-text-size-adjust: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 32px 0 0; }

p,
blockquote,
table,
hr,
dl,
ul,
ol,
pre,
address,
figure {
  margin: 14px 0 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; }

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 2.6rem; }

h3 {
  font-size: 2.4rem; }

h4 {
  font-size: 2.2rem; }

h5 {
  font-size: 2rem; }

h6 {
  font-size: 1.8rem; }

a {
  color: #0080ff;
  text-decoration: none;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    text-decoration: underline; }

b,
strong,
dt {
  font-weight: 600; }

code,
kbd,
samp {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 85%;
  padding: 0.1em 0.2em; }

pre {
  max-height: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.05);
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1.3rem;
  line-height: 1.2;
  margin-left: -14px;
  margin-right: -14px;
  padding: 14px; }
  pre code {
    background-color: transparent;
    font-size: 1.3rem;
    padding: 0; }
  @media (min-width: 740px) {
    pre {
      margin-left: 0;
      margin-right: 0; } }

blockquote {
  border-left: 5px solid #ddd;
  color: #777;
  padding-left: 14px; }

ul,
ol {
  padding-left: 28px; }

dt,
dd,
ol ol,
ul ul,
ol ul,
ul ol {
  margin: 0; }

hr {
  border: 0;
  border-top: 1px solid #ddd; }

small {
  font-size: 85%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

address {
  color: #777;
  font-size: 85%;
  font-style: normal; }

mark {
  background-color: #ff0;
  color: #333;
  padding: 0 .2em; }

abbr[title] {
  border-bottom: 0;
  text-decoration: underline;
  text-decoration: underline dotted; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  max-width: 100%;
  vertical-align: middle; }

audio,
video {
  width: 100%; }

[role="button"] {
  cursor: pointer; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  outline: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

button,
input,
select,
textarea {
  font: inherit; }

button,
html [type=button],
[type=reset],
[type=submit],
::-webkit-file-upload-button {
  -webkit-appearance: button;
  appearance: button; }

[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

::-webkit-file-upload-button {
  font: inherit; }

[hidden] {
  display: none; }

fieldset {
  border: 1px solid #ddd;
  margin: 14px 0 0;
  padding: 0 14px 14px; }

legend {
  padding: 0 3px; }

optgroup {
  color: #777;
  font-style: normal;
  font-weight: normal; }

option {
  color: #333; }

progress {
  width: 100%; }

.container {
  background-color: #fff;
  max-width: 740px;
  min-width: 320px;
  /*outline: $width-gap solid $color-background-container;*/
  overflow: hidden;
  padding: 0 14px 14px;
  width: 100%; }

@media (min-width: 1041px) {
  .container {
    max-width: 768px;
    outline: 0;
    padding: 0 28px 14px; } }

.top-gap-big,
.form .top-gap-big {
  margin-top: 32px; }

.top-gap,
.form .top-gap {
  margin-top: 14px; }

.top-gap-0,
.form .top-gap-0 {
  margin-top: 0; }

.flex-left,
.flex-center,
.flex-right,
.flex-top,
.flex-middle,
.flex-bottom,
.flex-vertical {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap; }

.flex-left,
.flex-center,
.flex-right,
.flex-top,
.flex-middle,
.flex-bottom,
.flex-vertical.flex-left,
.flex-vertical.flex-center,
.flex-vertical.flex-right,
.flex-vertical.flex-top,
.flex-vertical.flex-middle,
.flex-vertical.flex-bottom {
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.flex-center,
.flex-vertical.flex-middle {
  -ms-flex-pack: center;
  justify-content: center; }

.flex-right,
.flex-vertical.flex-bottom {
  -ms-flex-pack: end;
  justify-content: flex-end; }

.flex-top,
.flex-vertical.flex-left {
  -ms-flex-align: start;
  align-items: flex-start; }

.flex-middle,
.flex-vertical.flex-center {
  -ms-flex-align: center;
  align-items: center; }

.flex-bottom,
.flex-vertical.flex-right {
  -ms-flex-align: end;
  align-items: flex-end; }

.units-gap {
  margin-left: -7px;
  margin-right: -7px; }
  .units-gap > .unit,
  .units-gap > .unit-0,
  .units-gap > .unit-1-2,
  .units-gap > .unit-1-3,
  .units-gap > .unit-2-3,
  .units-gap > .unit-1-4,
  .units-gap > .unit-3-4 {
    padding-left: 7px;
    padding-right: 7px; }

.unit {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

.unit-1-2,
.unit-1-3,
.unit-2-3,
.unit-1-4,
.unit-3-4 {
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.unit-1-2 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.unit-1-3 {
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%;
  max-width: 33.33%; }

.unit-2-3 {
  -ms-flex-preferred-size: 66.67%;
  flex-basis: 66.67%;
  max-width: 66.67%; }

.unit-1-4 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.unit-3-4 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.flex-vertical {
  -ms-flex-direction: column;
  flex-direction: column; }
  .flex-vertical > .unit,
  .flex-vertical > .unit-0,
  .flex-vertical > .unit-1-2,
  .flex-vertical > .unit-1-3,
  .flex-vertical > .unit-2-3,
  .flex-vertical > .unit-1-4,
  .flex-vertical > .unit-3-4 {
    max-width: none; }
  .flex-vertical > .unit-1-2 {
    max-height: 50%; }
  .flex-vertical > .unit-1-3 {
    max-height: 33.33%; }
  .flex-vertical > .unit-2-3 {
    max-height: 66.67%; }
  .flex-vertical > .unit-1-4 {
    max-height: 25%; }
  .flex-vertical > .unit-3-4 {
    max-height: 75%; }

.table {
  background-color: #fff;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }
  .table caption {
    caption-side: bottom;
    color: #777;
    padding: 5px;
    text-align: left; }
  .table th,
  .table td {
    border: 0;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    text-align: left; }
  .table th {
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: 600; }

.form {
  margin: 0; }
  .form label {
    cursor: pointer;
    display: block;
    line-height: 1.25;
    margin-top: 14px;
    padding-bottom: 6px;
    padding-top: 6px; }
  .form [type=text],
  .form [type=password],
  .form [type=email],
  .form [type=search],
  .form [type=url],
  .form [type=tel],
  .form [type=number],
  .form textarea,
  .form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Source Han Sans SC", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", Arial, Helvetica, STHeiti, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.6rem;
    padding: 5px 10px;
    display: block;
    line-height: 1.25;
    margin: 14px 0 0;
    width: 100%; }
    .form [type=text]:focus,
    .form [type=password]:focus,
    .form [type=email]:focus,
    .form [type=search]:focus,
    .form [type=url]:focus,
    .form [type=tel]:focus,
    .form [type=number]:focus,
    .form textarea:focus,
    .form select:focus {
      border-color: #3399ff; }
  @media (max-width: 1040px) {
    .form [type=time],
    .form [type=week],
    .form [type=month],
    .form [type=date],
    .form [type=datetime-local] {
      margin: 14px 0 0; } }
  @media (min-width: 1041px) {
    .form [type=time],
    .form [type=week],
    .form [type=month],
    .form [type=date],
    .form [type=datetime-local] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 3px;
      color: #333;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Source Han Sans SC", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", Arial, Helvetica, STHeiti, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 1.6rem;
      padding: 5px 10px;
      display: block;
      line-height: 1.25;
      margin: 14px 0 0;
      width: 100%; }
      .form [type=time]:focus,
      .form [type=week]:focus,
      .form [type=month]:focus,
      .form [type=date]:focus,
      .form [type=datetime-local]:focus {
        border-color: #3399ff; } }
  .form [type=checkbox],
  .form [type=radio] {
    cursor: pointer;
    margin: 0 5px 0 0; }
  .form select {
    background: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='20' viewBox='0 0 32 20'><path fill='#333' d='M0 0h32L16 20z'/></svg>") right 8px center no-repeat;
    background-size: 8px 8px;
    padding-right: 25px;
    cursor: pointer; }
  .form [type=file],
  .form [type=range] {
    display: block;
    line-height: 1.25;
    margin: 14px 0 0;
    width: 100%;
    cursor: pointer;
    padding: 6px 0; }
  .form [type=color],
  .form [type=image] {
    cursor: pointer;
    display: block;
    margin: 14px 0 0; }
  .form [disabled] {
    cursor: default;
    opacity: .5;
    pointer-events: none; }
  .form [readonly] {
    background-color: #f3f3f3; }

@media (max-width: 1040px) {
  .hide-on-mobile {
    display: none; } }

@media (min-width: 1041px) {
  .show-on-mobile {
    display: none; } }

.scroll-view {
  max-height: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.btn {
  display: block;
  line-height: 1.25;
  margin: 14px 0 0;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Source Han Sans SC", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", Arial, Helvetica, STHeiti, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.6rem;
  padding: 5px 10px;
  text-align: center;
  background-color: #f3f3f3;
  cursor: pointer; }
  .btn:focus {
    border-color: #3399ff; }
  .btn:hover, .btn:active {
    text-decoration: none; }
  .btn[disabled] {
    cursor: default;
    opacity: .5;
    pointer-events: none; }

.btn-primary {
  background-color: #40bf40;
  border-color: #40bf40;
  color: #fff; }
  .btn-primary[disabled] {
    cursor: default;
    opacity: .5;
    pointer-events: none; }

.btn-danger {
  color: #cc0000; }
  .btn-danger[disabled] {
    cursor: default;
    opacity: .5;
    pointer-events: none; }

@media only screen and (max-width: 1080px), only screen and (max-device-width: 1080px) {
  html, body {
    font-size: 48px; } }

@media only screen and (max-width: 960px), only screen and (max-device-width: 960px) {
  html, body {
    font-size: 42.666666666666664px; } }

@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
  html, body {
    font-size: 35.55555555555556px; } }

@media only screen and (max-width: 720px), only screen and (max-device-width: 720px) {
  html, body {
    font-size: 32px; } }

@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
  html, body {
    font-size: 28.444444444444443px; } }

@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
  html, body {
    font-size: 26.666666666666668px; } }

@media only screen and (max-width: 540px), only screen and (max-device-width: 540px) {
  html, body {
    font-size: 24px; } }

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  html, body {
    font-size: 21.333333333333332px; } }

@media only screen and (max-width: 414px), only screen and (max-device-width: 414px) {
  html, body {
    font-size: 18.4px; } }

@media only screen and (max-width: 400px), only screen and (max-device-width: 400px) {
  html, body {
    font-size: 17.77777777777778px; } }

@media only screen and (max-width: 375px), only screen and (max-device-width: 375px) {
  html, body {
    font-size: 16.666666666666668px; } }

@media only screen and (max-width: 360px), only screen and (max-device-width: 360px) {
  html, body {
    font-size: 16px; } }

@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
  html, body {
    font-size: 14.222222222222221px; } }

@media only screen and (max-width: 240px), only screen and (max-device-width: 240px) {
  html, body {
    font-size: 10.666666666666666px; } }

/* 已设置 1rem = 10px , 其他 pxTorem(88px) 转换*/
@font-face {
  font-family: 'iconfont';
  /* project id："142862" */
  src: url("//at.alicdn.com/t/font_dhc4g1pir4kg9zfr.eot");
  src: url("//at.alicdn.com/t/font_dhc4g1pir4kg9zfr.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_dhc4g1pir4kg9zfr.woff") format("woff"), url("//at.alicdn.com/t/font_dhc4g1pir4kg9zfr.ttf") format("truetype"), url("//at.alicdn.com/t/font_dhc4g1pir4kg9zfr.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

/*background color*/
.border {
  border: 0 solid #ccc; }

.border-top {
  border-top-width: 1px; }

.border-right {
  border-right-width: 1px; }

.border-bottom {
  border-bottom-width: 1px; }

.border-left {
  border-left-width: 1px; }

.border-all {
  border-width: 1px; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border {
    position: relative;
    border: none !important; }
    .border::after {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      right: -33.33%;
      bottom: -33.33%;
      left: 0;
      border: 0 solid #ccc;
      transform-origin: 0 0;
      pointer-events: none;
      transform: scale(0.75);
      width: 133.33%;
      box-sizing: border-box; }
  .border-top::after {
    border-top-width: 1px; }
  .border-right::after {
    border-right-width: 1px; }
  .border-bottom::after {
    border-bottom-width: 1px; }
  .border-left::after {
    border-left-width: 1px; }
  .border-all::after {
    border-width: 1px; } }

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border {
    position: relative;
    border: none !important; }
    .border::after {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      right: -100%;
      bottom: -100%;
      left: 0;
      border: 0 solid #ccc;
      transform-origin: 0 0;
      pointer-events: none;
      transform: scale(0.5);
      width: 200%;
      box-sizing: border-box; }
  .border-top::after {
    border-top-width: 1px; }
  .border-right::after {
    border-right-width: 1px; }
  .border-bottom::after {
    border-bottom-width: 1px; }
  .border-left::after {
    border-left-width: 1px; }
  .border-all::after {
    border-width: 1px; } }

.top-gap {
  margin-top: 0.625rem; }

.top-gap-14 {
  margin-top: 0.4375rem; }

.top-gap-24 {
  margin-top: 0.75rem; }

.top-gap-28 {
  margin-top: 0.875rem; }

.right-gap {
  margin-right: 0.75rem; }

.ml-gap {
  margin-left: 0.75rem; }

.prl-gap {
  padding: 0 0.75rem; }

.pt-gap {
  padding-top: 0.75rem; }

.pt-gap-16 {
  padding-top: 0.5rem; }

.pb-gap {
  padding-bottom: 0.75rem; }

.pl-gap {
  padding-left: 0.75rem; }

.pr-gap {
  padding-right: 0.75rem; }

.pb-gap-0 {
  padding-bottom: 0; }

.pall-gap {
  padding: 0.625rem 0.625rem 0; }

a {
  color: #333;
  text-decoration: none; }
  a:active {
    color: #333;
    text-decoration: none; }
  a:hover {
    text-decoration: none; }
  a:visited {
    text-decoration: none; }

.u-label {
  display: inline-block;
  position: relative;
  line-height: 0.9375rem;
  height: 0.9375rem;
  padding: 0 0.1875rem;
  font-size: 0.625rem;
  border: 1px solid #333;
  border-radius: 0.0625rem; }
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    .u-label {
      position: relative;
      border: 0; }
      .u-label:before {
        content: "";
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #333;
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        padding: 1px;
        -webkit-box-sizing: border-box;
        border-radius: 0.125rem;
        pointer-events: none; } }
  .u-label:active {
    background-color: #f3f2f2; }

/*avatar*/
.u-avatar {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block; }
  .u-avatar .u-avatar-pic {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    border-radius: 50%; }
    .u-avatar .u-avatar-pic img {
      width: 100%;
      height: 100%; }
  .u-avatar .u-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0.9375rem;
    height: 0.9375rem;
    overflow: hidden; }
    .u-avatar .u-icon img {
      width: 100%;
      vertical-align: top; }

.u-avatar-big {
  position: relative;
  width: 3.125rem;
  height: 3.125rem;
  display: inline-block; }
  .u-avatar-big .u-avatar-pic {
    display: block;
    width: 3.125rem;
    height: 3.125rem;
    overflow: hidden;
    border-radius: 50%; }
    .u-avatar-big .u-avatar-pic img {
      width: 100%;
      height: 100%; }
  .u-avatar-big .u-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1.25rem;
    height: 1.5625rem;
    overflow: hidden; }
    .u-avatar-big .u-icon img {
      width: 100%;
      vertical-align: middle; }
    .u-avatar-big .u-icon i {
      font-size: 1.25rem;
      vertical-align: top;
      /*-webkit-text-stroke: 1px white;*/
      text-shadow: 1px 0 #fff, 0 1px #fff, 0 -2px #fff, -2px 0 #fff; }

body {
  background: #eee; }

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0; }

/*base*/
.color-base {
  color: #00a53c; }

.color01 {
  color: #4fd2af; }

.color02 {
  color: #8fcff3; }

.color03 {
  color: #a2d63c; }

.color04 {
  color: #f7786e; }

.color05 {
  color: #7891e4; }

.color06 {
  color: #76afe3; }

.color07 {
  color: #ffbd33; }

.color08 {
  color: #f793bd; }

.icon-on {
  color: #ff8200; }

b {
  font-weight: 400; }

.line-h {
  width: 1px;
  background: linear-gradient(#fff, #ddd, #fff); }

.bg-white {
  background: #fff; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.f-relative {
  position: relative; }

.f-fixed {
  position: fixed; }

/*header-tab*/
header {
  /*width:100px;*/
  height: 2.75rem;
  font-size: 1rem;
  line-height: 2.75rem;
  background: #fff; }
  header span {
    height: 2.71875rem;
    display: inline-block;
    padding: 0 0.09375rem; }
  header span.on {
    border-bottom: 3px solid #00a53c; }
  header a {
    width: 100%;
    height: 100%;
    display: block; }
    header a:active {
      background: rgba(0, 0, 0, 0.2); }

.con-header {
  top: 0;
  width: 100%;
  height: 2.75rem;
  line-height: 2.75rem;
  font-size: 1rem;
  text-align: center;
  background: #fff;
  z-index: 99;
  display: -ms-flexbox;
  display: flex; }
  .con-header:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #C7C7C7;
    color: #C7C7C7;
    transform-origin: 0 100%;
    transform: scaleY(0.5); }
  .con-header .con-left {
    -ms-flex: 1;
    flex: 1;
    max-width: 18%;
    padding-left: 0.75rem; }
    .con-header .con-left:active {
      background-color: rgba(0, 0, 0, 0.2); }
  .con-header .con-center {
    -ms-flex: 2;
    flex: 2;
    font-size: 1.0625rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; }
  .con-header .con-right {
    padding-right: 0.75rem;
    -ms-flex: 1;
    flex: 1;
    max-width: 18%; }
    .con-header .con-right a {
      color: #fff; }
    .con-header .con-right i {
      font-size: 0.8125rem; }
    .con-header .con-right:active {
      background-color: rgba(0, 0, 0, 0.2); }
  .con-header p span {
    color: #333; }
  .con-header p .link-public {
    margin-left: .2rem;
    color: #00a53c; }

/*section*/
.container {
  padding-left: 0.75rem;
  padding-right: 0.75rem; }

.site-box {
  background: #fff;
  min-height: 6.25rem; }

/*user-info*/
.user-info {
  min-width: 70%;
  overflow: hidden;
  /*width: 50%;*/ }

.u-name {
  line-height: 1.25rem;
  font-size: 1rem;
  color: #508c50;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; }
  .u-name span {
    vertical-align: top;
    margin-top: 0.125rem; }

.u-time {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; }

.u-user-info {
  max-width: 55%;
  overflow: hidden; }

.u-from {
  font-size: 0.75rem;
  line-height: 1rem;
  color: #999; }

/*u-readbox*/
.u-readbox {
  width: 3.4375rem;
  height: 2rem;
  border: 1px solid #ddd;
  border-radius: 0.2rem;
  font-size: 0.625rem;
  color: #999; }
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    .u-readbox {
      position: relative;
      border: 0; }
      .u-readbox:before {
        content: "";
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #ddd;
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        padding: 1px;
        -webkit-box-sizing: border-box;
        border-radius: 0.4rem;
        pointer-events: none; } }
  .u-readbox .num {
    margin-top: 0.25rem;
    font-size: 0.75rem; }
  .u-readbox p {
    margin-top: 0.15625rem;
    text-align: center;
    line-height: 0.75rem; }

/*content 内容详情*/
.content-txt {
  text-align: justify;
  line-height: 1.5rem;
  font-size: 1.0625rem; }

/*  


单一图片规则:
1\ 当宽度大于高度时，显示为横图，限高度384px 宽度顶边，两边各留24  
2\ 当宽度小于高度时，显示为竖图，限高度544px，宽度自适应
    图片裁切:
     1\ 指定宽高，等比缩放

两张图片规则:
1\ 中间留个12px，两边各留24px
2\ 高度为 336px
     图片裁切:
     1\ 指定宽高，居中裁剪  

其他多图规则:
1\ 单一尺寸 216*216px
2\ 上下左右 各间隔 12px
   图片裁切:
    1\ 指定宽高，居中裁剪  

*/
/* album */
.m-imgs {
  text-align: center;
  overflow: hidden; }
  .m-imgs li {
    display: inline-block;
    list-style-type: none;
    float: left;
    margin: 0.15625rem 0.125rem; }
    .m-imgs li img {
      width: 6.75rem;
      height: 6.75rem;
      overflow: hidden; }
  .m-imgs li.two {
    width: 49%;
    height: 10.5rem;
    margin: 0; }
    .m-imgs li.two img {
      width: 100%;
      height: 100%; }
  .m-imgs li.two + li.two {
    margin-left: 0.3125rem; }
  .m-imgs li.oneA {
    width: 100%;
    margin: 0;
    /*height: pxTorem(432px);*/
    max-height: 11.25rem;
    overflow: hidden; }
    .m-imgs li.oneA img {
      width: 100%; }
  .m-imgs li.oneB {
    width: auto;
    margin: 0;
    max-height: 17.1875rem; }
    .m-imgs li.oneB img {
      height: 100%; }

/*m-address */
.m-address {
  margin: 0.75rem 0 0 0;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #999; }
  .m-address i {
    font-size: 0.5625rem;
    width: 0.5625rem;
    height: 0.5625rem;
    margin-right: 0.25rem; }

/*m-btn-gap*/
.m-btn-gap {
  margin-top: 0.75rem;
  background: #fafafa;
  height: 2.25rem;
  line-height: 2.25rem;
  /*.unit+.unit {
        background: url(../images/line.png) left center no-repeat;
        &:active {
            background: rgba($color: #000, $alpha: 0.2);
        }
    }*/ }
  .m-btn-gap .unit {
    font-size: 0.875rem;
    color: #999; }
    .m-btn-gap .unit i {
      font-size: 1rem;
      margin-right: 0.25rem;
      /*vertical-align: middle;*/ }
    .m-btn-gap .unit:active {
      background: rgba(0, 0, 0, 0.2); }

/* m-question */
.m-question {
  height: 2rem;
  line-height: 2rem;
  font-size: 1rem; }
  .m-question i {
    font-size: 1rem;
    margin-right: 0.5rem;
    vertical-align: middle; }

/*quote 引用类型*/
.m-quote {
  background: #fafafa;
  height: 4.5rem;
  overflow: hidden; }
  .m-quote .m-quote-pic {
    width: 4.5rem;
    height: 100%;
    background: #eee;
    overflow: hidden; }
    .m-quote .m-quote-pic img {
      width: 100%;
      height: 100%; }
  .m-quote .m-quote-txt {
    padding: 0.375rem 0.5rem; }
    .m-quote .m-quote-txt p {
      margin-top: 0;
      text-align: justify;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
    .m-quote .m-quote-txt .title {
      font-size: 1rem;
      line-height: 1.25rem;
      margin-bottom: 0.25rem;
      color: #333;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical; }
    .m-quote .m-quote-txt .note {
      height: 100%;
      vertical-align: middle;
      font-size: 0.875rem;
      color: #999;
      line-height: 1.125rem;
      display: table-cell; }

/* m-bottom-bar */
.m-bottom-bar {
  background: rgba(0, 165, 60, 0.9);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 2.75rem;
  line-height: 2.75rem;
  color: #fff; }
  .m-bottom-bar .sendpost {
    width: 5.25rem; }
  .m-bottom-bar .border::after {
    border-color: rgba(0, 0, 0, 0.2); }
  .m-bottom-bar .btnActive:active {
    background: rgba(0, 0, 0, 0.2); }

/* m-expert 
    问专家模块
*/
.m-expert .m-tips {
  /*height: pxTorem(36px);*/
  line-height: 1.125rem;
  font-size: 0.875rem;
  padding-bottom: 0.25rem; }

.m-expert .u-expert-info {
  min-height: 4.5rem;
  float: left; }
  .m-expert .u-expert-info .u-name {
    color: #333; }
  .m-expert .u-expert-info .u-txt-info, .m-expert .u-expert-info .u-integral {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; }
  .m-expert .u-expert-info .u-integral {
    width: 80%;
    margin-top: 0.5rem;
    padding-bottom: 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; }

.m-expert .u-toAction {
  height: 2rem;
  line-height: 2rem;
  font-size: 0.875rem;
  color: #00a53c;
  width: 4.5rem;
  margin-right: 0.75rem;
  border: 1px solid #00a53c;
  border-radius: 0.2rem; }
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    .m-expert .u-toAction {
      position: relative;
      border: 0; }
      .m-expert .u-toAction:before {
        content: "";
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #00a53c;
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        padding: 1px;
        -webkit-box-sizing: border-box;
        border-radius: 0.4rem;
        pointer-events: none; } }
  .m-expert .u-toAction:active {
    background: rgba(0, 0, 0, 0.2); }

/*dialog*/
/**-------------------------
 *  meida query
 **------------------------*/
@media screen and (min-width: 1023px) {
  .dialog-content {
    max-width: 40%; } }

@media screen and (min-width: 767px) {
  .dialog-content {
    max-width: 60%; } }

/**-------------------------
 *  animate library
 **------------------------*/

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.2, 1.2); }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1, 1); } }

@keyframes zoom-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8, 0.8); } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes bounce-in-down {
  0% {
    opacity: 0;
    transform: translate(-50%, -75%); }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%); } }

@keyframes bounce-out-up {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%); }
  100% {
    opacity: 0;
    transform: translate(-50%, -75%); } }

@keyframes bounce-in-up {
  0% {
    opacity: 0;
    transform: translate(-50%, 0); }
  80% {
    opacity: 1;
    transform: translate(-50%, -24px); }
  100% {
    opacity: 1;
    transform: translate(-50%, -20px); } }

@keyframes bounce-out-down {
  0% {
    opacity: 1;
    transform: translate(-50%, -20px); }
  100% {
    opacity: 0;
    transform: translate(-50%, 0); } }

.layui-m-layer {
  position: relative;
  z-index: 19891014; }
  .layui-m-layer * {
    box-sizing: content-box; }

.layui-m-layermain {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.layui-m-layershade {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: auto; }

.layui-m-layermain {
  display: table;
  pointer-events: none; }
  .layui-m-layermain .layui-m-layersection {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }

.layui-m-layerchild {
  position: relative;
  display: inline-block;
  text-align: left;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  pointer-events: auto;
  -webkit-overflow-scrolling: touch;
  animation-fill-mode: both;
  animation-duration: .2s; }

@keyframes layui-m-anim-scale {
  0% {
    opacity: 0;
    transform: scale(0.5); }
  100% {
    opacity: 1;
    transform: scale(1); } }

.layui-m-anim-scale {
  animation-name: layui-m-anim-scale;
  -webkit-animation-name: layui-m-anim-scale; }

@keyframes layui-m-anim-up {
  0% {
    opacity: 0;
    transform: translateY(800px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.layui-m-anim-up {
  animation-name: layui-m-anim-up; }

.layui-m-layer0 .layui-m-layerchild {
  width: 90%;
  max-width: 640px; }

.layui-m-layer1 .layui-m-layerchild {
  border: none;
  border-radius: 0; }

.layui-m-layer2 .layui-m-layerchild {
  width: auto;
  max-width: 260px;
  min-width: 40px;
  border: none;
  background: 0 0;
  box-shadow: none;
  color: #fff; }

.layui-m-layerchild h3 {
  margin-top: 0;
  padding-top: 1.875rem;
  line-height: 1;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 5px 5px 0 0;
  text-align: center; }

.layui-m-layerbtn span,
.layui-m-layerchild h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

h3 + .layui-m-layercont {
  padding-top: 0.75rem; }

.layui-m-layercont {
  padding: 1.875rem;
  font-size: 0.875rem;
  line-height: 1;
  text-align: center; }

.layui-m-layer1 .layui-m-layercont {
  padding: 0;
  text-align: left; }

.layui-m-layer2 .layui-m-layercont {
  text-align: center;
  padding: 0;
  line-height: 0; }
  .layui-m-layer2 .layui-m-layercont i {
    width: 0.78125rem;
    height: 0.78125rem;
    margin-left: 8px;
    display: inline-block;
    background-color: #fff;
    border-radius: 100%;
    animation: layui-m-anim-loading 1.4s infinite ease-in-out;
    animation-fill-mode: both; }

.layui-m-layerbtn {
  position: relative;
  text-align: center;
  border-radius: 0 0 5px 5px; }
  .layui-m-layerbtn span {
    position: relative;
    text-align: center;
    border-radius: 0 0 5px 5px; }

.layui-m-layer2 .layui-m-layercont p {
  margin-top: 20px; }

.layui-m-layer2 .layui-m-layercont i:first-child {
  margin-left: 0;
  animation-delay: -.32s; }

.layui-m-layer2 .layui-m-layercont i.layui-m-layerload {
  animation-delay: -.16s; }

.layui-m-layer2 .layui-m-layercont > div {
  line-height: 22px;
  padding-top: 7px;
  margin-bottom: 20px;
  font-size: 14px; }

@keyframes layui-m-anim-loading {
  0%,
  100%,
  80% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

.layui-m-layerbtn {
  display: box;
  display: -moz-box;
  display: -webkit-box;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  font-size: 0;
  background-color: #fff; }
  .layui-m-layerbtn:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #ddd;
    color: #ddd;
    transform-origin: 0 0;
    transform: scaleY(0.5); }
  .layui-m-layerbtn span + span:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    border-left: 1px solid #ddd;
    color: #ddd;
    transform-origin: 0 0;
    transform: scaleX(0.5); }
  .layui-m-layerbtn span {
    display: block;
    box-flex: 1;
    -webkit-box-flex: 1;
    font-size: 1rem;
    cursor: pointer; }
    .layui-m-layerbtn span[yes] {
      color: #00a53c; }
    .layui-m-layerbtn span[no] {
      border-radius: 0 0 0 5px; }
    .layui-m-layerbtn span:active {
      background-color: #F6F6F6; }

.layui-m-layerend {
  position: absolute;
  right: 7px;
  top: 10px;
  width: 30px;
  height: 30px;
  border: 0;
  font-weight: 400;
  background: 0 0;
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 30px; }
  .layui-m-layerend::after, .layui-m-layerend::before {
    position: absolute;
    left: 5px;
    top: 15px;
    content: '';
    width: 18px;
    height: 1px;
    background-color: #999;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-radius: 3px; }
  .layui-m-layerend::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

body .layui-m-layer .layui-m-layer-footer {
  position: fixed;
  width: 95%;
  max-width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 10px;
  background: 0 0; }

.layui-m-layer-footer .layui-m-layercont {
  padding: 20px;
  border-radius: 5px 5px 0 0;
  background-color: rgba(255, 255, 255, 0.8); }

.layui-m-layer-footer .layui-m-layerbtn {
  display: block;
  height: auto;
  background: 0 0;
  border-top: none; }
  .layui-m-layer-footer .layui-m-layerbtn span {
    background-color: rgba(255, 255, 255, 0.8); }
    .layui-m-layer-footer .layui-m-layerbtn span[no] {
      color: #FD482C;
      border-top: 1px solid #c2c2c2;
      border-radius: 0 0 5px 5px; }
    .layui-m-layer-footer .layui-m-layerbtn span[yes] {
      margin-top: 10px;
      border-radius: 5px; }

body .layui-m-layer .layui-m-layer-msg {
  width: auto;
  max-width: 90%;
  margin: 0 auto;
  bottom: -150px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff; }

.layui-m-layer-msg .layui-m-layercont {
  padding: 10px 20px; }

/*actionsheet*/
.m-mask {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6); }

.m-mask-transparent {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.m-mask-transition {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  transition: background .3s; }

.m-mask-fade-toggle {
  background: rgba(0, 0, 0, 0.6); }

.m-actionsheet {
  position: fixed;
  left: 0;
  bottom: 0;
  transform: translate(0, 100%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 5000;
  width: 100%;
  background-color: #eee;
  transition: transform .3s; }

.m-actionsheet-menu {
  background-color: #FFFFFF; }

.m-actionsheet-action {
  margin-top: 6px;
  background-color: #FFFFFF; }

.m-actionsheet-cell {
  position: relative;
  padding: 10px 0;
  text-align: center;
  font-size: 18px; }
  .m-actionsheet-cell:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #ddd;
    color: #ddd;
    transform-origin: 0 0;
    transform: scaleY(0.5); }
  .m-actionsheet-cell:active {
    background-color: #fafafa; }
  .m-actionsheet-cell:first-child:before {
    display: none; }

.m-actionsheet-toggle {
  transform: translate(0, 0); }

.weui_cell {
  position: relative; }
  .weui_cell:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    color: #D9D9D9;
    transform-origin: 0 0;
    transform: scaleY(0.5);
    left: 0.75rem; }
  .weui_cell:first-child:before {
    display: none; }

.weui_cells {
  margin-top: 0.5rem;
  background-color: #FFFFFF;
  line-height: 0.75;
  font-size: 1rem;
  overflow: hidden;
  position: relative; }
  .weui_cells:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    color: #D9D9D9;
    transform-origin: 0 0;
    transform: scaleY(0.5); }
  .weui_cells:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #D9D9D9;
    color: #D9D9D9;
    transform-origin: 0 100%;
    transform: scaleY(0.5); }

.weui_cells_title {
  margin-top: .77em;
  margin-bottom: .3em;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  color: #666;
  font-size: 0.75rem; }
  .weui_cells_title + .weui_cells {
    margin-top: 0; }

.weui_cells_tips {
  margin-top: .3em;
  color: #666;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.75rem; }

.weui_cell {
  padding: 0.3125rem 0.75rem;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }

.weui_cell_hd {
  width: 1.4375rem;
  height: 1.4375rem;
  margin-right: 0.625rem;
  display: block;
  line-height: 1.4375rem;
  text-align: center; }

.weui_cell_bd_tips {
  margin: 0 0 0.625rem 0;
  line-height: 0.75rem;
  font-size: 0.75rem;
  color: #999; }

.weui_cell_ft {
  text-align: right;
  font-size: 0.9rem;
  color: #333; }

.weui_cell_primary {
  -ms-flex: 1;
  flex: 1; }

.weui_cells_access .weui_cell:not(.no_access) {
  -webkit-tap-highlight-color: transparent; }
  .weui_cells_access .weui_cell:not(.no_access):active {
    background-color: #ECECEC; }

.weui_cells_access .weui_cell_bd {
  line-height: 2.5rem; }
  .weui_cells_access .weui_cell_bd p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; }

.weui_cells_access a.weui_cell {
  color: #333;
  min-height: 3.125rem; }

.weui_cells_access .weui_cell_ft {
  color: #999;
  min-width: 5%;
  margin-right: -.1rem; }
  .weui_cells_access .weui_cell_ft p {
    margin-top: 0.625rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; }
  .weui_cells_access .weui_cell_ft i {
    height: 100%;
    line-height: 100%;
    margin-top: .01rem; }

/*# sourceMappingURL=maps/style.css.map */
